*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
/dist
/build
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache
.hypothesis

# virtualenv
.env

# git hooks
.git-hooks

